.foto-1 {
    width: 50%;
    height: 400px;
    object-fit: fill;
    margin-bottom: 30px;
    border-radius: 90px;
}

.foto-2 {
    width: 800px;
    height: 500px;
   
}

.foto-3 {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    margin-top: -700px;
}

.foto-4 {
    border-radius: 100px;
    height: 200px;
    width: 200px;
}

.video {
    width: 1000px;
    height: 600px;
    border: 2px solid black;
    font-size: 40px;
}
